// exp bar
.exp {
    &__bar {
        margin: 0 auto;
        width: 300px;
        height: 50px;
        border: solid 1px gray;
    }

    &__bar-start {
        display: inline-block;
        width: 0px;
        height: 100%;
        background-color: limegreen;
    }

    &__bar-end {
        width: 200px;
        transition: width 1s;
    }
}
