<div class="category_modal">
    <div class="category_background">
        <div class="category_contents">
            <p class="title">
                カテゴリー登録
            </p>
            <div class="input">
                <div class="input_area">
                    <%= form_with model:@category_modal, url:categories_create_path(@category_modal), local: true do |f| %>
                        <div class="input_parts">
                            <%= f.label :name, 'カテゴリ名', class:'input_label' %>
                            <%= f.text_field :name, class:'input_form' %>
                        </div>
                        <div class="submit_area">
                            <%= f.submit '登録する', class:'input_submit' %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>