<div class="chart-wrapper js-chart-wrapper" data-user-id="<%= @user.id %>">
    <canvas id="js-doughnutChart" width="500" height="250"></canvas>
    <canvas id="js-barChart" width="500" height="250"></canvas>
</div>