<canvas id="js-doughnutChart" width="986" height="300"></canvas>
<%# <div class="graph_area">
    <div class="graph1">
        ここに棒?グラフ<br>
    </div>
    <div class="graph2">
        ここに円?グラフ<br>
    </div>
</div> %>