<div class="macho_modal">
    <div class="background">
        <div class="macho_contents">
            <p class="title">
                <%= @macho_modal['is_creation_flg'] ? 'これから勉強を頑張る' : '勉強を頑張った'%>
                あなたへ
                <br>
                <span>マッチョからの応援メッセージ 💙</span>
            </p>
            <div class="mainarea">
                <div class="textarea">
                <div class="balloon">
                    <div class="says"><p><%= @macho_modal['phrase'] %></p></div>
                </div>
                </div>
                <div class="mainimg">
                    <%= image_tag @macho_modal['path'] %>
                </div>
            </div>
        </div>
    </div>
</div>