<div class="modal">
    <div class="background">
        <div class="contents">
            <p class="title">
                テストタイトル
                <span>テストタイトル</span>
            </p>
            <div class="mainarea">
                <div class="textarea">
                    <span>
                        ここに文字とかくる感じ
                    </span>
                </div>
                <div class="mainimg">
                    <%= image_tag @character.image_path %>
                    <span>
                        ここに画像がくる感じ
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>