<div class="modal">
    <div class="background">
        <div class="contents">
            <p class="title">
                マッチョから
                <span>あなたへの応援メッセージ 💙</span>
            </p>
            <div class="mainarea">
                <div class="textarea">
                <div class="balloon">
                    <div class="says"><p><%= @modal_data['phrase'] %></p></div>
                </div>
                </div>
                <div class="mainimg">
                    <%= image_tag @modal_data['path'] %>
                </div>
            </div>
        </div>
    </div>
</div>