<%= stylesheet_link_tag "mypage/show", :media => "all" %>
<header>
	<div class="header">
		<div class="header_logo">
			ここにロゴ
		</div>
		<div class="user">
			<div class="user_name">テスト太郎</div>
			<div class="user_level">Lv.54</div>
			<div class="user_level_bar">ここにバーが来る</div>
		</div>
	</div>
</header>
<div class="body">
	<section class="graph">
		<%= render partial: 'chart' %>
	</section>
	<section class="task_tab">
		<div class="task_list">
			<div class="incomplete_task_list">ここに未完了タスクリスト</div>
			<div class="complete_task_list">ここに完了タスクリスト</div>
		</div>
		<button class="create_task">タスク追加</button>
	</section>
</div>

<%= render partial: 'macho_modal', macho_modal: @macho_modal %>
<%= render partial: 'task_modal', task_modal: @task_modal %>
