<h1>Mypage#show</h1>
<p>Find me in app/views/mypage/show.html.erb</p>

<body class="my_page" width="1000" margin="100 100">
	<header class="header">
		ここにヘッダー
	</header>
	<div class="body">
		<section class="graph">
			<div class="graph_area">
				<div class="graph1">
					ここに棒?グラフ<br>
					<%= image_tag "sample_bar_graph" %>
				</div>
				<div class="graph2">
					ここに円?グラフ<br>
					<%= image_tag "sample_circle_graph" %>
				</div>
			</div>
		</section>
		<section class="task_tab">
			<div class="task_list">
				<div class="incomplete_task_list">ここに未完了タスクリスト</div>
				<div class="complete_task_list">ここに完了タスクリスト</div>
			</div>
		</section>
	</div>
    <a href="" class="switch">モーダルスイッチ</a>
</body>

<div class="modal">
        <div class="background">
            <div class="contents">
                <p class="title">
                    テストタイトル
                    <span>テストタイトル</span>
                </p>
                <div class="mainarea">
                    <div class="textarea">
                        <span>
                            ここに文字とかくる感じ
                        </span>
                    </div>
                    <div class="mainimg">
                        <span>
                            ここに画像がくる感じ
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>