<header>
	<div class="header">
		<div class="header_logo">
			ここにロゴ
		</div>
		<div class="user">
			<div class="user_name">テスト太郎</div>
			<div class="user_level">Lv.54</div>
			<div class="exp__wrapper">
				<p class="exp__bar">
					<span class="exp__bar-start"></span>
				</p>
        	</div>
		</div>
	</div>
</header>
<div class="body">
	<section class="graph">
		<%= render partial: 'chart' %>
	</section>
	<section class="task_tab">
		<div class="task_list">
			<div class="incomplete_task_list">ここに未完了タスクリスト</div>
			<div class="complete_task_list">ここに完了タスクリスト</div>
		</div>
	</section>
</div>

<%= render partial: 'modal', modal_data: @modal_data %>